<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

    <body>
        <%- include('partials/nav') %>

        <h1>WS App: <%= sessionId %> </h1>
        <p id="message"></p>

        <%- include('partials/footer') %>

        <%- include('partials/scripts') %>
        <div id="user" data-user=<%= data %> ></div>
    </body>

</html>